.container-caracteristique{

}
.titl-caracteristique{
text-align: center;
color: #A54657;
font-size: 30px;
}
.caracteristique{
display: flex;
align-items: center;
justify-content: space-between;
}
.icons{

}