@import "./navbar/navbar.scss";
@import "./image-principal/image-principal.scss";
@import "./description-localisation/description-localisation.scss";
@import "./caracteristiques/caracteristiques.scss";
@import "./annonces/annonces.scss";
@import "./contact/contact.scss";
@import "./footer/footer.scss";
@import "./container-miniatures/container-miniatures.scss";

body{
    box-sizing: border-box;
    margin: 3Opx;
    padding: 5px;
}
