.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #A54657;
  border-radius: 8px;
  height: 100px;
}

.logo {
  width: 200px;
  height: 200px;
}

.container-btn {
  margin-right: 20px;
}

.btn {
  background: #A54657;
  color: white;
  border: #A54657;
  border-radius: 8px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
}

.btn:hover {
  background: #042E5C;
  border: 1px solid #A54657;
  box-shadow: 0px 10px 13px -7px #000000;
}

.photo-principal {
  margin: unset;
}

.info {
  line-height: 8px;
  padding-bottom: 10px;
}

.prix {
  color: #A54657;
}

.vente {
  text-align: center;
  color: #042E5C;
  font-size: 40px;
  text-transform: uppercase;
}

.image-principal {
  width: 100%;
  border: 1px solid #042E5C;
  border-radius: 10px;
  height: 600PX;
}

.descripion {
  display: flex;
  flex-wrap: wrap;
}

.titl-description {
  color: #A54657;
  font-size: 30px;
}

.texte-description {
  font-size: 18px;
  width: 80%;
}

.titl-principal {
  text-align: center;
  color: #042E5C;
  font-size: 35px;
}

.localisation {
  display: flex;
  justify-content: end;
  color: #A54657;
  border-radius: 5px;
  padding-right: 10px;
}

.titl-localisation {
  color: #A54657;
  text-align: center;
  font-size: 30px;
}

.titl-caracteristique {
  text-align: center;
  color: #A54657;
  font-size: 30px;
}

.caracteristique {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.titl-autre-annonce {
  font-size: 30px;
  text-align: center;
  color: #A54657;
}

.image-annonce-maison {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-maison2 {
  border: 1px solid #A54657;
  border-radius: 5px;
}

.ville-prix {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
}

.contacts {
  width: 100%;
  margin-bottom: 20px;
}

.titl2-contact {
  text-align: center;
  border: 1px solid #A54657;
  border-radius: 5px;
  width: 15%;
  margin: 5px auto;
  color: #042E5C;
  text-transform: uppercase;
  font-weight: lighter;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.button {
  margin: 5px;
  color: #fff;
  background-color: #A54657;
  border-radius: 10px;
  border: 1px solid #A54657;
  padding: 10px;
  width: 30%;
  box-shadow: 5px 5px 15px 5px #000000;
}

.button:hover {
  background-color: #042E5C;
}

.text-formulaire {
  width: 130%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #A54657;
  border-radius: 5px;
}

.message-formulaire {
  width: 130%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #A54657;
  border-radius: 5px;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #A54657;
  border-radius: 5px;
  height: 100px;
}

.info-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.img-footer {
  margin-right: 180px;
}

.container-miniatures {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  margin: 2px;
  padding: 3px;
}

.piece {
  border: 1px solid #A54657;
  border-radius: 12px;
  width: 130px;
  height: 130px;
  transition: transform 0.1s;
}

.piece:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    margin: 0px;
  }
  .btn {
    font-size: 10px;
  }
  a {
    display: none;
  }
}
.navigation {
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 3Opx;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */